.titulo {
    color: rgb(8, 95, 44);
    background-color: crimson;
    
    }

    h1{
        font-size: 50px;
        font-family: fantasy;
    }
h2 {
    font-size: 30px;
    font-family: fantasy;
}
    